<nav>
  <ul class="nav nav-main">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Navigate <i class="icon-chevron-down icon-white"></i>
      </a>
      <ul class="dropdown-menu">
        <% @posts.each do |post| %>
          <li><a href="#<%= post.slug %>"><%= post.title %></a></li>
        <% end %>
      </ul>
    </li>
  </ul>
</nav>