/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.navbar .brand i {
	position: relative;
	float: left;
	margin: 4px 8px 0 0;
}

article .article-title {
	margin: 0;
	font-size: 18px;
	line-height: 1em;
}

/* Sidenav
--------------------------------------------------*/
li[data-toggle=collapse] {
	cursor: pointer;
}
.nav-side {
	margin: 30px 0 0;
	padding: 0;
	width: 200px;
	border-radius: 6px;
	background-color: #fff;

	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.nav-side > .nav-header {
	margin-top: 0 !important;
	border-bottom: 1px solid #e5e5e5;
	font-size: 16px;
	line-height: 2em;
}
.nav-side > li.nav-header:first-child {
	margin-top: 9px;
}
.nav-side > li > ul {
	margin: 8px 0 0 0;
}
.nav-side li > a {
	display: block;
	margin: 0 0 -1px;
	padding: 8px 14px !important;
}

.nav-side > li > a {
	/* border:  1px solid #e5e5e5; */
}

.nav-side ul > li:first-child {
	margin: 1px 0 0 0;
}

.nav-side > li:last-child {
	padding: 0 0 8px 0;
}

.nav-side .active > a {
	position: relative;
	z-index: 2;
	padding: 9px 15px;
	border: 0;
	border-radius: 6px;

	-webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
	box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
	text-shadow: 0 1px 0 rgba(0,0,0,.15);
}

/* Chevrons */
.nav-side .icon-chevron-down,.nav-side .icon-chevron-up {
	position: relative;
	float: right;
	margin: 9px 0 0 0;
	opacity: .25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
}

.nav-side li > a:hover {
	border-radius: 6px;
	background-color: #f5f5f5;
}

.nav-side li:hover .icon-chevron-down,.nav-side li:hover .icon-chevron-up {
	opacity: .5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

.nav-side.affix {
	top: 40px;
}

.nav-side.affix-bottom {
	position: absolute;
	top: auto;
	bottom: 270px;
}
