/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require bootstrap.css
 *= require_self
 *= require_tree .
 */

 body {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

body.dark {
  background-color: #000;
  color: #FFF;
}

a {
  text-decoration: none;
}

.introduction {
  padding: 50px;
  text-shadow: 0 1px 0 #FFF;
  font-weight: 200;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.introduction .title {
  letter-spacing: -2px;
  font-size: 4em;
  font-weight: 300;
}

.introduction .author {
  font-size: 2em;
}

.glass {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 280px;
  /*border-bottom: solid 1px #ccc;
  border-top: solid 1px #ccc;*/

  background-position: 30% 30%;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  float: left;
  display: block;
}

/* responsive fix, stupid bootstrap */
@media (max-width: 767px) {
  .glass {
    margin-left: -20px;
    padding-right: 40px;
    margin-bottom: 20px;
  }
}

/* background-image hack */
.glass-background
{
  position: absolute;
  display: block;
  z-index: -1;
  width: 1440px;
  height: 1440px;
  background: url(network-light-square.png) 50% 50% repeat;
  top: 50%;
  margin-top: -720px;
  left: 50%;
  margin-left: -720px;
}

.glass.animated .glass-background {
  -webkit-animation: rotate 500s infinite linear;
}

@-webkit-keyframes "rotate" {
 from {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
to {
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg);
}

}

body.dark .glass {
  border-bottom: solid 1px #eee;
  color: #000;
  -webkit-filter: invert();
  -ms-filter: invert();
  -moz-filter: invert();
  -o-filter: invert();
}

.nav-main {
  position: fixed;
  padding: 0 9px;
  height: 30px;
  background: #FF0000;
  background: rgba(255, 0, 0, 0.8);
  text-align: center;
  font-weight: 600;

  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  line-height: 30px;
  z-index: 9999;
}

.dark .nav-main {
  -webkit-filter: invert();
  -ms-filter: invert();
  -moz-filter: invert();
  -o-filter: invert();
}

.dark img {
  -webkit-filter: invert();
  -ms-filter: invert();
  -moz-filter: invert();
  -o-filter: invert();
}

.nav-main a {
  color: #FFF;
}

.nav-main ul.dropdown-menu {
  margin: 0 0 0 -9px;
  padding: 0;
  border: none;
  border-radius: 0;
  background: #FF0000;
  background: rgba(255, 0, 0, 0.8);
  box-shadow: none;
  text-align: left;
}

.nav-main ul.dropdown-menu a {
  font-weight: 600;
  line-height: 32px;
}

.nav-main ul.dropdown-menu a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #FFF;
  line-height: 32px;
}

.night-day {
  position: relative;
  margin: 20px;
}

.icon-custom {
  background-position: 0 0 !important;
}

.icon-custom.moon {
  background-image: url('iconic/moon_fill_12x12.png');
}

.icon-custom.sun {
  background-image: url('iconic/sun_fill_12x12.png');
}

.connectivity {
  float: left;
  width: 307px;
  height: 231px;
  background-image: url('html5_connectivity.png');
  background-repeat: no-repeat;
}

article.multi-column {
  float: left;
}

article .article-title {
  padding: 18px 0 0 0;
  font-weight: 200;
  font-size: 3em;
  font-family: 'Raleway', Georgia, serif;
}

article .article-meta {
  padding: 0 0 18px 0;
}

article p, article .content {
  font-weight: 400;
  font-size: 1em;
  font-family: 'Crimson Text', Georgia, serif;
  line-height: 1.2em;
}

article p {
  padding-bottom: 1.5em;
}

article small {
  font-size: 0.9em;
}